[Desktop Entry]
Name=CPUFreqUtility
GenericName=CPU Frequence Utility
Type=Application
Categories=Utility;System;
Icon=cpu
Exec=CPUFreqUtility
Terminal=false
StartupNotify=true
